@import '~antd/dist/antd.css';

@font-face {
    font-family: 'ZCOOLKuaiLeRegular';
    src: local('ZCOOLKuaiLeRegular'),
        url('../fonts/ZCOOLKuaiLe-Regular.ttf') format('truetype');
    font-weight: 100;
}

* {
    font-family: ZCOOLKuaiLeRegular, cursive;
}

.container__flex {
    display: flex;

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    a:hover {
        color: #a7d0df;
    }

    .main {
        position: relative;
        width: 500px;
        height: auto;
        background-color: #a7d0df;
        border-left: 0.2rem solid #51accc;
        border-right: 0.2rem solid #51accc;

        .list {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            margin-bottom: 0.5rem;

            .list__link {
                margin: 0.3rem;
            }
        }

        .upload__btn {
            display: inline-block;
            margin-top: 1rem;
            width: 60%
        }
    }

    .left {
        flex: 1;
        background-color: white;
    }

    .right {
        flex: 1;
        background-color: white;
    }

    @media (max-width: 420px) {

        .left,
        .right {
            flex: 1 1 0.5rem;
        }
    }
}

@media (max-width: 420px) {
    .container__flex {
        padding: 0.5rem 0 0.5rem 0;
    }
}

.ant-back-top {
    position: absolute;
    right: 0;
}

.hide {
    display: none;
}